@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-medium-webfont.eot');
    src: url('../fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.eot');
    src: url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serifbold';
    src: url('../fonts/pt_serif/pt_serif-bold-webfont.eot');
    src: url('../fonts/pt_serif/pt_serif-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_serif/pt_serif-bold-webfont.woff2') format('woff2'),
         url('../fonts/pt_serif/pt_serif-bold-webfont.woff') format('woff'),
         url('../fonts/pt_serif/pt_serif-bold-webfont.ttf') format('truetype'),
         url('../fonts/pt_serif/pt_serif-bold-webfont.svg#pt_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;
}